<div class='row'>
　 <div align=center>
    <h2>　マイページ　</h2>
    <div class='mb-3'>
      <h5>登録情報</h5>
      <div class="icon_image"><%= attachment_image_tag(@customer, :image, :size => '150x150', class: "user-icon") %></div>
      <table border="1">
        <tr>
          <td class="p-3 mb-2 bg-light text-dark">ユーザー名</td>
          <td><%= @customer.name%></td>
        </tr>

        <tr>
          <td class="p-3 mb-2 bg-light text-dark">メールアドレス</td>
          <td><%= @customer.email%></td>
        </tr>

      </table>

      <br>

      <div class='mb-3' style='font-weight:bold;'>
        <%= link_to '　編集する　',edit_public_customer_path(@customer.id), data: {"turbolinks" => false}, class: "btn btn-success" %>
      </div>

    </div>
  </div>
</div>