<div class="jumbotron">
<div class="row">
  <div class='mt-4'>

    <tr>
      <p  align=center>
        <%= link_to image_tag("Rogo.png", class:"image_switch", :size =>'800x400'), root_path, data: {"turbolinks" => false}%>
      </p>
    </tr>

    <tr >

        <h4 class="visual" align=center>
          ようこそ！
        </h4>
        <h4 class="visual"  align=center>
          プラモデル情報サイト-コンストラクション‐へ！
        </h4>
        <h4 class="visual" align=center>
          このサイトでは、プラモデルの新着情報から
        </p>
        <h4 class="visual" align=center>
          技術交換ができる質問箱など、
        </h4>
        <h4 class="visual" align=center>
          盛りだくさんなサイトです！
        </h4>

    </tr>

  </div>

  <br><br>
 <% if not customer_signed_in? %>
  <div class="background right" align="right">
    <%= link_to new_admin_session_path, data: {"turbolinks" => false} do%>管理者メニュー<% end %>
  </div>
 <% end %>

</div>
</div>