<div class="toast position-fixed bottom-10 end-2" id="myToast">
  <div class="toast-header">
    <strong class="mr-auto"><i class="far fa-envelope"></i>チャットBOX</strong>
  </div>
  <div class="toast-body">
    <div class="message-body"></div>
  </div>
</div>